*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    background-color:red;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row .product {
    max-width: 33.3%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(249, 249, 249);
    padding: 5%;
}

.row .product:hover {
    background: rgb(249, 249, 249);
    cursor: pointer;
}

.row .product .product-picture {
    width: 80%;
    max-width: 80%;
    display: flex;
    margin-bottom: 20px;
}

.row .product .product-picture > img {
    width: 80%;
    margin:auto;
}

.row .product h2 {
    margin-bottom: 20px;
}

.row .product p {
    height: fit-content;
    font-size: 14px;
}

/** FORM **/

#comment__form {
    border: 1px solid rgb(249, 249, 249);
    padding: 10px;
}

#comment__form > div {
    margin: 20px 0;
}

#comment__form input,
#comment__form input:focus{
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
}

#comment__form input {
    border-bottom: 1px solid rgb(249, 249, 249);
}

#comment__form button {
    display: flex;
}

button {
    background: rgba(169, 206, 194, 0.3);
    border:none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: rgba(169, 206, 194, 0.9);
}

#error {
    display:none;
}

#error.active {
    display: block;
    color: red;
}

footer {
}